# --------------------
# Python cache & build
# --------------------
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# --------------------
# Virtual environments
# --------------------
venv/
env/
cv-env/
.env

# --------------------
# IDE / Editor files
# --------------------
.vscode/
.idea/
*.swp

# --------------------
# Application data
# --------------------
SheetsAttendance/
Students/

# Ignore CSVs globally
*.csv

# Ignore images
*.jpg
*.jpeg
*.png

# Ignore Windows security metadata
*:Zone.Identifier

# --------------------
# Temp & logs
# --------------------
*.tmp
*.log

# --------------------
# OS-specific files
# --------------------
.DS_Store
Thumbs.db