__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

cv-env/
venv/
env/

.env

.vscode/
.idea/
*.swp

SheetsAttendance/
*.csv

*.jpg:Zone.Identifier
*.png:Zone.Identifier
*.jpeg:Zone.Identifier

*.jpg
*.png
*.jpeg

*.tmp

*.log

.DS_Store
Thumbs.db